[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/scss-syntax"]
	path = bundle/scss-syntax
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "bundle/po.vim"]
	path = bundle/po.vim
	url = git://github.com/vim-scripts/po.vim--Jelenak.git
[submodule "bundle/matchit.zip"]
	path = bundle/matchit.zip
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/vim-scripts/Command-T.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-haml"]
	path = bundle/vim-haml
	url = git://github.com/tpope/vim-haml.git
